body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align: center;
  /* background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  background-size: contain; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.score {
  margin-top: 3rem;
}

.solution {
  margin-top: 3rem;
}

.letters div {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  margin-top: 3rem;
  padding-left: 15rem;
  padding-right: 15rem;
  gap: 1rem;
}

.letter {
  font-size: larger;
}

.end-game {
  margin-top: 3rem;
}

.score {
  font-size: 3rem;
}

.low-score {
  color: red;
}

.medium-score {
  color: rgb(226, 226, 0);
}

.high-score {
  color: green;
}

.solution .letter {
  margin-left: 0.5rem;
}

.letters .letter {
  background-color: rgb(200, 217, 248);
  border-radius: 0.3rem;
}

.selected {
  color: red;
}

.non-selected {
  color: #000;
}

.non-selected:hover {
  cursor: pointer;
}

.restart {
  margin-top: 1.5rem;
  height: 3rem;
  width: 10rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1rem;
}
